.project {
  display: flex;
  justify-content: start;
}
.left {
  flex: 1;
  position: relative;
  padding: 30px;

  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  margin: auto 0;
}
.title {
  display: flex;
  font-size: 25px;
  align-items: center;
  justify-content: center;
}
.title section {
  padding: 0;
  padding-bottom: 0;
}
.desc {
  inline-size: 150px;
  overflow-wrap: break-word;
  width: 40vw;
  margin: 20px 0;
  margin-top: 5vh;
  margin-bottom: 5vh;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
}
.buttonContainer {
  margin: 5vh 0;
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonContainer button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 30%;
  background-color: #0be779;
}
.buttonContainer button a {
  font-weight: bold;
  text-decoration: none;
  color: white;
}
.details {
  position: relative;
  background-color: #3b4353;
  border-radius: 20px;
  padding: 10px 30px;
  height: 300px;
  width: 100%;
  margin: auto;
}

.languageDiv {
  border-radius: 20px;
  max-width: 100%;
  height: 30vh;
  display: grid;
  grid-template-columns: 50% 50%;
}

.languageContainer {
  height: 50px;
  width: 60px;
}
.languageContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.right {
  position: relative;
  flex: 1;
  height: 100vh;

  display: flex;

  align-items: center;
  justify-content: center;
}
.sliderContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.sliderContainer .sliderItem {
  width: 70%;
  height: 70%;
  margin: 20%;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
}
.points {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 20px;
}
.sliderItem img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
